
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Color de fondo */
}

/* Estilo del encabezado */
header {
    width: 100%;
    background-color: #ffff99; /* Color amarillo */
    text-align: center;
    padding: 30px 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header h1 {
    margin: 0;
    font-size: 3.5rem; /* Tamaño del título */
    color: #666; /* Color del texto */
}

/* Espaciado para separar el contenido del encabezado */
.container {
    margin-top: 150px; /* Margen superior para evitar que el contenido se solape con el encabezado */
    text-align: center;
}

/* Estilo para el formulario */
form {
    margin-top: 50px;
    display: inline-block;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

/* Estilo para el botón de regreso */
.back-button {
    position: absolute;
    left: 20px; /* Ajusta la posición según sea necesario */
    top: 15px; /* Ajusta la posición según sea necesario */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.back-button img {
    width: 50px; /* Tamaño del icono de regreso */
    height: auto;
}

.header-icon {
    position: absolute;
    right: 20px; /* Ajusta la posición según sea necesario */
    top: 15px; /* Ajusta la posición según sea necesario */
    width: 50px; /* Tamaño del icono de inicio */
    height: auto;
    cursor: pointer; /* Cambia el cursor para indicar que es un botón */
}

.header-icon:hover {
    opacity: 0.8; /* Cambia la opacidad al pasar el mouse */
}